version: '3'
services:
  java:
    container_name: ${APP_NAME:?err}-java
    restart: 'always'
    build:
      context: .
      dockerfile: ./docker/java.Dockerfile
    volumes:
      - ./java/logs:/var/java/app/target/logs


